<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script
        src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
        crossorigin="anonymous"></script>
    <script 
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" 
        integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd"
        crossorigin="anonymous"></script>
    <link 
        rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
        crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Estala Production App</title>
</head>
<body>
    <img class="logo" src="logo.png" alt="">
    <div class="outer">
        <div class="submission">
            <form action="/submit/new" method="POST">
                <div class="container">
                    <h1>Submit new job</h1>
                    <div class="row">
                        <div class="col">
                            <label for="typeName">Item Name: </label>
                        </div>
                        <div class="col">
                            <input type="text" id="typeName" name="typeName">
                        </div>
                        <div class="col">
                            <label for="jobReward">Job Reward: </label>
                        </div>
                        <div class="col">
                            <input type="text" id="jobReward" name="jobReward"> <br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="ownerName">Buyer: </label>
                        </div>
                        <div class="col">
                            <input type="text" id="ownerName" name="ownerName"> 
                        </div>
                        <div class="col"></div>
                        <div class="col">
                            <input type="submit" value="Submit" class="btn btn-primary">
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                Sorting
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">By Time</a>
                <a class="dropdown-item" href="#">By Reward</a>
            </div>
        </div>
        <br>
        <div class="list-group">
            <% for(let i of data) { %>
                <div class="list-group-item">
                    <span class="typeName"><%= i.typeName %></span> ~ Reward: <%= i.jobReward %> ISK <% if(i.producerName != undefined){ %> <span class="jobHasProducer"> [OK] Pending Job </span> <% } else { %> <span class="jobNoProducer"> [!] This job has no producer... yet! </span> <% }%>
                    <div class="detail">
                        <div class="orderDate">Order Date: <%= i.orderDate %></div>
                        Buyer: <%= i.ownerName %> | Producer: <%= i.producerName %><br>
                        <form action="/submit/accept" method="POST">
                            <input placeholder="Producer Name..." type="text" id="producerName" name="producerName">
                            <input type="hidden" name="jobObjectId" value="<%= i._id %>">
                            <input type="submit" value="Accept" class="btn btn-secondary">
                        </form>
                        Options: <br>
                        <div class="jobOptions">
                            <% if(i.producerName != undefined){ %>
                            <form action="/submit/complete" method="POST">
                                <input type="hidden" name="jobObjectId" value="<%= i._id %>">
                                <input type="submit" value="Complete" class="btn btn-warning">
                            </form>
                            <% } %>
                            <form action="/submit/cancel" method="POST" onsubmit="return confirm('Are you sure?');">
                                <input type="hidden" name="jobObjectId" value="<%= i._id %>">
                                <input type="submit" value="[!] Cancel Job" class="btn btn-danger">
                            </form>
                            </div>
                    </div>
                </div>
            <% } %>
        </div>
        <div class="myName">
            <p>EVE Online IGN: Rea DreamCake</p>
        </div>
    </div>
</body>
</html>