<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="outer">
        <div class="submission">
            <form action="/submit/new" method="POST">
                <label for="typeName">Type Name: </label><br>
                <input type="text" id="typeName" name="typeName"><br>
                <label for="typeId">Type ID: </label><br>
                <input type="text" id="typeId" name="typeId"><br>
                <label for="ownerName">Owner: </label><br>
                <input type="text" id="ownerName" name="ownerName"> 
                <input type="submit" value="Submit" class="btn btn-primary">
            </form>
        </div>
        <div class="list-group">
            <% for(let i of data) { %>
                <div class="list-group-item">
                    <%= i.typeName %>
                    <div class="detail">
                    Owner: <%= i.ownerName %><span>        |        </span>Producer: <% if( i.producerName != undefined){ %> <%= i.producerName %> <% } %> <br>
                        TypeID: <%= i.typeId %>
                        <form action="/submit/accept" method="POST">
                            <input placeholder="Producer Name..." type="text" id="producerName" name="producerName">
                            <input type="hidden" name="jobObjectId" value="<%= i._id %>">
                            <input type="submit" value="Accept" class="btn btn-secondary">
                        </form>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</body>
</html>